.title {
	color: #b26c6c;
}

.inputs {
	display: flex;
	flex-direction: column;
}

.input {
	background-color: #c6c6c670;
	margin-bottom: 10px;
	height: 40px;
	border: none;
	border-radius: 6px;
	width: 300px;
	font-size: 18px;
	color: #fff;
	padding: 5px 20px;
	&::placeholder {
		color: #fff;
		font-size: 16px;
		transition: opacity 0.4s ease;
	}
	&:focus {
		&::placeholder {
			opacity: 0;
		}
	}
}

.text {
	margin: 10px 0;
	font-size: 18px;
}

.button {
	background-color: #b26c6c;
	color: #000;
	font-size: 18px;
	font-weight: 500;
	line-height: 1;
	border: none;
	border-radius: 6px;
	height: 30px;
	text-decoration: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	&:hover {
		background-color: #bb5f5f;
	}
	&[disabled] {
		background-color: #5c5c5c;
	}
	&_minWidth {
		min-width: 92px;
	}
	&_minWidthDel {
		min-width: 66px;
	}
	&_margin {
		margin: 0 5px;
	}
}

.checkbox {
	margin-right: 10px;
}

.mb {
	margin-bottom: 20px;
}

.list {
	padding: 0;
	margin: 25px 0;
	width: 300px;
}

.listItem {
	// display: inline-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

.listItemInner {
	// display: flex;
	// align-items: center;
	// justify-content: space-between;
	width: 100%;
	margin-bottom: 15px;
}

.listItemControls {
	margin-top: 10px;
	& button {
		margin: 0 5px;
	}
}

.finishedTask {
	text-decoration: line-through #bb5f5f 2px;
}

.select {
	width: 300px;
	height: 40px;
	background-color: #b26c6c;
	font-size: 18px;
	border: none;
	border-radius: 6px;
	margin-bottom: 20px;
}

.errorMessage {
	font-size: 16px;
	margin: 0px 0 20px;
	color: red;
}

.description {
	font-size: 16px;
	color: #fff;
}

// loader


.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.loaderListPosition {
	margin: 50px 0;
}